<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-5">Terms and Conditions</h1>
    </div>
    <div>
        <h3> Welcome Address!!!!</h3>
        <p> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Accessify's relationship with you in relation to this website.</p>
        <h3> Conditions of Use</h3>
        <p> By using this website, you certify that you haev read and recieved this agreement and that you agree to comply with its items.if yo do not want to be bound by the terms of this agreement, you are advised to stop using the website accordingly. Accessify only grants use and access of this website, its product, and its services to those who have accepted its terms.</p>
        <h3> Privacy Policy</h3>
        <p> Before you continue using our website, we advice you to read our privacy policy regarding our user data collection. It will help you better understand our practices</p>
        <h3> Age Restriction</h3>
        <p>You must be at least 18 (Eighteen) years of age before you can use this website. By using this website, you warrant that you are at least 18 years of age and you may legarlly adhere to this agreement. Accessify assumes no responsibility fo liability related to age misrepresentation.</p>
        <h3>Intellectual Property</h3>
        <p> You agree that all materials, products, and services provided on this website are the property of Accessify, its affiliate, Directors, Officers, Employees, Agents, Suppliers, or Licensors ancluding all Copyrights, Trade Secrets, Trademarks, Patents, and other Intellectual property. You also agree that you will not reproduce or redistribute the Accessify's Intellectual property in any way, including electronic, digital, or new Trademarks registrations.</p>
        <p> You grant Accessify a royalty-free and non-exclusive license to display, use , copy, transmit, and broadcast the content you upload and publish. For issues regarding Intellectual property claims, you should contact the company in other to come to an agreement.</p>
        <h3> User Account</h3>
        <p> As a user of thuis website, you may be asked to register with us and provide private information. You are responsible for ensuring the accuracy of this information, and you are responsible for maintaining the safety and security of your identity information. You are also responsible for all activity that occur under your accout or password.</p>
        <p> If you think there are any possible issues regarding the security of your account on the website, inform us immediately so me may address them accordingly.</p>
        <p> We reserve all right to terminate accouts, edit or remove content and cancel orders at our sole discretion.</p>
        <h3> Applicable Law</h3>
        <p> By using this website, you agree that the law of the Nigeria in respect to its Constitutional items without regards to issue of conflict laws, will govern this terms and conditions, or any dispute of any sort that might come between Accessifyas a company and you, or its business partner and associates.</p>
        <h3> Disputes</h3>
        <p> Any dispute related in any way to your use of this website or to products you purchase from us shall be arbitrated by state or federal court of Nigeria and your condent to excluisve jurisdiction and venue of such courts.</p>
        <h3> Indemnification</h3>
        <p> You agree to Indemnify Accessify and its affiliate and hold Accessify harmless against legal claims and demands that may arise from your use or misuse of our services. We reserve the right to select our own legal counsel</p>
        <h3> Limitation on Liability</h3>
        <p>  Accessify is not liable for any damages that may occur to you as a result of your misuse of our website.</p>
        <p> Accessify reserve the right to edit, modify, and change this agreement at any time. W e shall let our users know of these changes through electronic mail. This Agreement is an understanding between Accessify and the Users, and supersedes and replaces all prior agreement regarding the use of this website.</p>
    </div>
</div>